### Getting Started With Pandas in Python

In [1]:
import pandas as pd

### Creating a Series

In [2]:
s=pd.Series([10000,20000,30000,40000,50000])
s

0    10000
1    20000
2    30000
3    40000
4    50000
dtype: int64

In [3]:
p=pd.Series([10,20,30,40,50,"abc"])
p

0     10
1     20
2     30
3     40
4     50
5    abc
dtype: object

### Operations on a series

In [4]:
print(s.dtype)
print(s.values)
print(s.index)

int64
[10000 20000 30000 40000 50000]
RangeIndex(start=0, stop=5, step=1)

### Assigning names to a Column

In [5]:
s.name="Sales"
print(s)

0    10000
1    20000
2    30000
3    40000
4    50000
Name: Sales, dtype: int64

### Indexing in a Series

In [6]:
print(s[0])
print(s[0:2])
print(s[2:4])

10000
0    10000
1    20000
Name: Sales, dtype: int64
2    30000
3    40000
Name: Sales, dtype: int64

### Location based indexing

In [22]:
print(s.iloc[3])
print(s.iloc[[1,4,3]])

40000
Feb    20000
May    50000
Apr    40000
Name: Sales, dtype: int64

### Changing the indexes

In [8]:
indexes=["Jan","Feb","Mar","Apr","May"]
s.index=indexes
print(s)

Jan    10000
Feb    20000
Mar    30000
Apr    40000
May    50000
Name: Sales, dtype: int64

### Using Label Based Indexing

In [9]:
print(s.loc[["Jan","May"]])
print(s.loc['Feb':'Apr'])

Jan    10000
May    50000
Name: Sales, dtype: int64
Feb    20000
Mar    30000
Apr    40000
Name: Sales, dtype: int64

### Making Series from Disctionary

In [10]:
fruits_proteins={'Mango' : 2.3,
                 'Banana' : 2.0,
                 'Apple' : 1.7,
                 'Orange' : 2.5,
                 'Peach' : 1.9,
                 }
s2=pd.Series(fruits_proteins, name="Proteins")
print(s2)

Mango     2.3
Banana    2.0
Apple     1.7
Orange    2.5
Peach     1.9
Name: Proteins, dtype: float64

In [11]:
print(s2.dtype)
print(s2.values)
print(s2.index)

float64
[2.3 2.  1.7 2.5 1.9]
Index(['Mango', 'Banana', 'Apple', 'Orange', 'Peach'], dtype='object')

### Conditional Selections

In [12]:
print(s2[s2<2])
#using mask
mask=s2>=1.9
print(s2[mask])

Apple    1.7
Peach    1.9
Name: Proteins, dtype: float64
Mango     2.3
Banana    2.0
Orange    2.5
Peach     1.9
Name: Proteins, dtype: float64

### Logical Operators

In [13]:
mask = (s2>1.9) & (s2<2.5)
print(s2[mask])

mask = (s2>1.9) | (s2<2.5)
print(s2[mask])

mask = (~(s2>1.9))
print(s2[mask])

Mango     2.3
Banana    2.0
Name: Proteins, dtype: float64
Mango     2.3
Banana    2.0
Apple     1.7
Orange    2.5
Peach     1.9
Name: Proteins, dtype: float64
Apple    1.7
Peach    1.9
Name: Proteins, dtype: float64

### Modifying the existing data in list

In [14]:
s2["Mango"] = 2.4
print(s2)

Mango     2.4
Banana    2.0
Apple     1.7
Orange    2.5
Peach     1.9
Name: Proteins, dtype: float64

### Quick Question

In [24]:
s3=pd.Series([10,20,None,40,float('nan'),"abc"])
print(s3.isnull().sum())
print(s3.notnull().sum())

2
4